{# templates/lucky_number.html.twig #}
{% extends "proj/base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header | raw }}{% endblock %}
{% block subHeader %}{{ subHeader }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="full-width">
        <h2>{{ contentTitle}}</h2>
        </div>
        <div class="full-width about-content">
            {{content | raw}}
        </div>
    </div>
    <div class="row">   
        <img class="dia-img" src="{{ asset("img/diagram.png") }}">
    </div>
    <div class="row">   
        <p>
            <a href="{{ path('proj-cleancode') }}">Länk till artikel om bra kod</a><a href="{{ path('proj-reset') }}" style="margin-left: 2rem;" >Återställ databas</a>
        </p>
        <p>
        </p>    
    </div>
    <div class="row color-block-container">
        <a class="color-block" style="flex: 10%; min-height: 82px" href="https://github.com/juko21/mvc">
            <h4>Github</h4>
        </a>
        <a class="color-block" style="flex: 10%; min-height: 82px" href="https://scrutinizer-ci.com/g/juko21/mvc/code-structure/master">
            <h4>Scrutinizer</h4>
        </a>
        <a class="color-block" style="flex: 10%; min-height: 82px" href="http://www.student.bth.se/~juko21/dbwebb-kurser/mvc/me/report/docs/metrics/">
            <h4>PhpMetrics</h4>
        </a>
        <a class="color-block" style="flex: 10%; min-height: 82px" href="http://www.student.bth.se/~juko21/dbwebb-kurser/mvc/me/report/docs/api/">
            <h4>PhpDocs</h4>
        </a>
    </div>
{% endblock %}
