{# templates/proj/index.html.twig #}
{% extends "proj/base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header | raw }}{% endblock %}
{% block subHeader %}{{ subHeader }}{% endblock %}

{% block body %}
<div class="row">
    <h2 class="full-width">{{ contentTitle}}</h2>
</div>
<div class="row">
    <div class="full-width">
        {{ content | raw }}
    </div>
</div>
<div class="row color-block-container">
<div class="row">
    <h3 class="full-width">{{ indicatorTitle }}</h3>
</div>
{% for key, indicator in indicators %}
    <a class="color-block" href="{{ path('proj-indicator-select', { indicator : indicatorRoutes[key] }) }}">
            <h3>{{ indicator }}</h3>
    </a>
{% endfor %}
</div>
{% endblock %}


