{# templates/proj/index.html.twig #}
{% extends "proj/base.html.twig" %}
{% block title %}Indikatorer: {{ header }}{% endblock %}
{% block header %}INDIKATORER{% endblock %}
{% block subHeader %}{{ header }}{% endblock %}

{% block body %}
<div class="row">
    <h2 class="full-width">{{ contentTitle }}</h2>
</div>
<div class="row">
    <div class="full-width">
        {{ content | raw }}
    </div>
</div>
{% for key, chart in charts %}
<div class="row indicator-block">
    {% if key % 2 == 0 %}
    <div class="c45">
        {{ chartTexts[key] |raw }}
    </div>
    <div class="c45">
        {{ render_chart(charts[key], {'class': 'chart'}) }}
    </div>
    {% else %}
    <div class="c45">
        {{ render_chart(charts[key], {'class': 'chart'}) }}
    </div>
    <div class="c45">
        {{ chartTexts[key] |raw }}
    </div>
    {% endif %}
</div>
{% endfor %}
<div class="row">
    <h3 class="full-width">Övriga indikatorer</h3>
</div>
<div class="row color-block-container">
{% for key, indicator in indicators %}
    {% if indicatorRoutes[key] != app.request.get('indicator') %}
    <a class="color-block" style="flex:100%" href="{{ path('proj-indicator-select', { indicator : indicatorRoutes[key] }) }}">
            <h4>{{ indicator }}</h4>
    </a>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
