<!DOCTYPE html>
<html class="no-js">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %} - Objektorienterade webbteknologier</title>

        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
    </head>
    <body>
        <nav class="navbar">
            <ul class="h_nav">
                    <li> <a href="{{ path('home') }}">HEM</a></li>
                    <li> <a href="{{ path('about') }}">OM</a></li>
                    <li> <a href="{{ path('card-home') }}">KORTLEK</a></li>
                    <li> <a href="{{ path('game-home') }}">21</a></li>
                    <li> <a href="{{ path('report') }}">RAPPORT</a></li>
            </ul>
            <div class="m_nav">
                    <div class="hamburger" >
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
            </div>
            <ul class="dropdown_menu">
                    <li> <a href="{{ path('home') }}">HEM</a></li>
                    <li> <a href="{{ path('about') }}">OM</a></li>
                    <li> <a href="{{ path('card-home') }}">KORTLEK</a></li>
                    <li> <a href="{{ path('game-home') }}">21</a></li>
                    <li> <a href="{{ path('report') }}">RAPPORT</a></li>
            </ul>
        </nav>
        <div class="spacefiller"></div>
        <div class="header">
            <div class="title">
                <h1>Objektorienterade webbteknologier</h1>
                <h3>{% block header %}{% endblock %}</h3>
            </div>
        </div>
                    <div class="main">{% block body %}{% endblock %}</div>
        <footer class="footer">
            <div class="copy">
                <h4>
                    OBJEKTORIENTERADE WEBBTEKNOLOGIER
                </h4>
                <p>
                    © Juhani Kotaniemi<br>Blekinge Tekniska Högskola
                </p> 
            </div>
            <div class="social">
                <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
            </div>
            <div style="clear: both"></div>
        </footer>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
