{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}Bibliotek{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    <form method="POST" action="{{ path('library_delete_process') }}">
            <p><input type="text" name="title" disabled value="{{ book.title }}"></p>
            <p><input type="text" name="isbn" disabled value="{{ book.isbn }}"></p>
            <p><input type="text" name="author" disabled value="{{ book.author }}"></p>
            <p><input type="text" name="img" disabled  value="{{ book.img }}"></p>
            <p><button type="submit" name="submit" value="{{ book.id }}">Radera bok</button></p>
    </form>
{% endblock %}
