{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<img src="{{ img }}" style="margin-bottom: 1rem">
<h2>Hej {{ userName }}</h2>

<h3>Användaruppgifter</h3>
<p><b>Användarnamn: </b>{{ userName }}</p>
<p><b>Akronym: </b>{{ acronym }}</p>
<p><b>Epost: </b>{{ email }}</p>
<form method="POST" action="{{ path('logout_process') }}">
        <p><button type="submit" name="logout">Logga ut</button></p>
</form>
<form method="POST" action="{{ path('update_user') }}">
        <p><button type="submit" name="update">Uppdatera uppgifter</button></p>
</form>
{% endblock %}
