{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}Användare{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    {% for message in app.flashes('notice') %}
    <p>
        {{ message }}
    </p>
    {% endfor %}
    <form method="POST" action="{{ path('user_update_process') }}">
            <p><input type="text" name="username" required placeholder="Namn" min="3" value="{{ userName }}"></p>
            <p><input type="text" name="email" required placeholder="Epost" value="{{ email }}"></p>
            <p><input type="password" name="oldpassword" required placeholder="Lösenord" min="3"></p>
            <p><input type="password" name="newpassword" required placeholder="Lösenord" min="3"></p>
            <p><button type="submit" name="update">Uppdatera uppgifter</button></p>
    </form>
{% endblock %}
